@import "./mixins.scss";
@import "./variables.scss";


//HOME//
.home{
  height: 950px;
}
h1{
  font-family: $titles;
  font-size: 10vh;
}
//PAGE1//
#surprise{
  img{
    display: none;
    height: 500px;
  }
}
.next{
  font-family: $titles;
&:hover{
  text-decoration: none;
}
}
//PAGE2//
.explication{
  font-family: $text;
  color: white;
  font-size: 18px;
}
.liste{
  a{
    color: white;
  }
  a:hover{
    text-decoration: none;
    color: #E0A800;
  }
}
.conclusion{
  font-family: $titles;
  font-size: 30px;
}
//PAGE7//
.final{
  font-family: $text;
  font-size: 15px;
}
